[Unit]
Description=GlusterFS File System ({{ device }})
DefaultDependencies=yes
{%- if pillar.glusterfs.server is defined %}
{% from "glusterfs/map.jinja" import server with context %}
{%- if server.enabled %}
After={{ server.service }}.service
{%- endif %}
{%- endif %}

[Mount]
What={{ device }}
Where={{ path }}
Type=glusterfs
Options={{ options }}
TimeoutSec={{ timeout|default(300) }}

[Install]
WantedBy=multi-user.target
WantedBy=remote-fs.target

{#-
vim: syntax=jinja
-#}
