Source: salt-formula-glusterfs
Maintainer: Filip Pytloun <filip.pytloun@tcpcloud.eu>
Section: admin
Priority: optional
Build-Depends: salt-master, python, python-yaml, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://www.tcpcloud.eu
Vcs-Browser: https://github.com/tcpcloud/salt-formula-glusterfs
Vcs-Git: https://github.com/tcpcloud/salt-formula-glusterfs.git

Package: salt-formula-glusterfs
Architecture: all
Depends: ${misc:Depends}, salt-master, reclass
Description: GlusterFS Salt formula
 Install and configure GlusterFS server and client.
