{% set server = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['glusterfs-server'],
        'service': 'glusterfs-server',
    },
    'RedHat': {
        'pkgs': ['glusterfs-server'],
        'service': 'glusterd',
    },
}, merge=salt['pillar.get']('glusterfs:server')) %}

{% set client = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['glusterfs-client','bc'],
        'mount_defaults': 'defaults,nobootwait',
    },
    'RedHat': {
        'pkgs': ['glusterfs-fuse'],
        'mount_defaults': 'defaults',
    },
}, merge=salt['pillar.get']('glusterfs:client')) %}
