{% set server = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['glusterfs-server','bc', 'attr'],
        'service': 'glusterfs-server',
    },
    'RedHat': {
        'pkgs': ['glusterfs-server','bc'],
        'service': 'glusterd',
    },
}, merge=salt['pillar.get']('glusterfs:server')) %}

{% if salt['grains.get']('init') == "systemd" -%}
    {% set mount_defaults = "defaults" %}
{% else %}
    {% set mount_defaults = "defaults,nobootwait" %}
{% endif %}

{% set client = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['glusterfs-client', 'attr'],
        'mount_defaults': mount_defaults,
    },
    'RedHat': {
        'pkgs': ['glusterfs-fuse'],
        'mount_defaults': 'defaults',
        'systemd_mount_defaults': 'defaults',
    },
}, merge=salt['pillar.get']('glusterfs:client')) %}

{% set monitoring = salt['grains.filter_by']({
    'default': {
        'glusterfs_service_host': '127.0.0.1'
    }
}, merge=salt['pillar.get']('glusterfs:monitoring')) %}
